<div class="row">
<div class="small-12 columns">
<p align="center">Find Us On Google Maps</p>


<iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30464.40589701325!2d78.54451564434977!3d17.361291427020298!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb98cf18362ec7%3A0x32b49ad8339f3f42!2sSree+Venkateshwara+Swamy+temple!5e0!3m2!1sen!2s!4v1424609530030" width="800" height="450" frameborder="0" style="border:0">
</iframe> 
<br />
 <small><a href="http://maps.google.mu/?ie=UTF8&amp;ll=-20.234496,57.603722 &amp;spn=0.093419,0.169086&amp;t=m&amp;z=13&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map </a> </small>

 <div >
 <h3><font size="6px">Head Office</h3>	
  <h6><font size="5px">Diamond Steal Railings</h6>
  <address><font size="4px">
  	<i>Shop No. 100/1/2/4, <br>Near Venkateswara Swamy Temple,
     <br>Snehapuri Colony,<br> Nagole, Hyderabad-500035.<br><br>
     <b> Contact Person:</b> B.Mukesh <br><b>Cell:</b> 9000350777, 8885166365
 </i></address>


<br><br><br>
</div>

</div>
</div>
<style>
.row{
	background-color:;
}
.contact{
	color:orange;
}

.map{
	color:blue;
}


	h3{
	 
	 font-family: Arial, Helvetica, sans-serif;
	 font-variant:small-caps;
	 text-align:left;
	 font-weight:300;
	 font-family: bold;
	 color: #ff6d00;
	}
	

p{
	font-family: Arial, Helvetica, sans-serif;
	text-align:left;
	font-weight:300;
	font-family: bold;
}
h6{
	font-family: Arial, Helvetica, sans-serif;
	
	text-align:left;
	font-weight:300;
	font-family: bold;
}

</style>
