<div class="row">
    <div class="large-12 columns" style="background-color:none">
    <br>
  <div class="large-12 columns">

  
    <ul class="example-orbit" data-orbit="" data-options="animation_speed:600;animation:fade; timer_speed:2000; resume_on_mouseout:1; pause_on_hover:1; bullets:0" class="orbit-slides-container" style="height: 0px;"> 
    <li> 
      <img src="/assets/sr2.jpg" alt="slide 1" class="cimage"/> 
      <div class="orbit-caption">  </div> 
    </li> 
    <li class="active">
     <img src="/assets/sr3.jpg" alt="slide 2" class="cimage"/> 
     <div class="orbit-caption">  </div> 
    </li> 
    <li>
     <img src="/assets/sr4.jpg" alt="slide 3" class="cimage"/> 
     <div class="orbit-caption"> </div>
      </li> 

      <li> 
      <img src="/assets/sr5.jpg" alt="slide 1" class="cimage"/> 
      <div class="orbit-caption"></div> 
    </li> 
    <li> 
      <img src="/assets/sr6.jpg" alt="slide 1" class="cimage"/> 
      <div class="orbit-caption"> </div> 
    </li> 
    <li> 
      <img src="/assets/sr7.jpg" alt="slide 1" class="cimage"/> 
      <div class="orbit-caption"> </div> 
    </li> 
    <li> 
      <img src="/assets/sr8.jpg" alt="slide 1" class="cimage"/> 
      <div class="orbit-caption"> </div> 
    </li> 
    </ul>

<br>
  </div>
   
    <hr/>
    </div>
    <div class="row">
    <div class="small-12 columns">
        
    <div class="small-9 columns">
    
    <br>
    <h3>Welcome to Diamond Steel Railings</h3>
    <p style="text-indent:40px">Diamond Steel Railings is customer focused and engineering driven to provide low cost, high quality solutions to clients’ requirements. We are known worldwide for our supreme quality, unique designs, surprising affordability and extravagant look. </font></p>
    <h3 align="center">About Us</h3>
    <p>Diamond Steel Railings develops innovative, high-quality designer railing systems and glass balustrades. Our products function as supports and handrails along steps and stairways, and as safety barriers around balconies and between floor levels. You will find our railing systems and glass balustrades installed in homes, shops and malls, as well as in offices and public buildings, museums, stadiums, airports and swimming pools. Each of our components are fully modular and able to be used in any of our railing systems, providing you with endless design possibilities.

    <p>Our products, which include balconies, pool fencing, fabrication for your staircase, glass handrails, shower screens, and much more,all come with our highly rated installation service. By making an investment into the beauty of your home, you can increase its value, but only Diamond Steel Railings can deliver railing installations that will last a lifetime.We work with both pre-existing homes and those currently in construction, and can work with architects and contractors to provide your home with its own unique look and feel. Each railing system is crafted, shaped, and installed to fit the flow of your home so perfectly, you’ll wonder how you ever lived without it.</p>
    </p><br>
    
    <p>We endeavour to reach the leadership position in each segment / sector of our Product / Service. We are comitted to satisfy our customers by providing such quality product / services, which gives highest value for money. </p>
    

    </div>



    <div class="small-3 columns">
         <h5 align="center">Our Clients</h5><br>

       <marquee direction="up" onmouseover="stop();"  onmouseout="start();"> <a href=""><img src="/assets/hyd.jpg" width="100px" height="50px"></a>
        <a href=""><img src="/assets/ivrcl.jpeg" width="100px" height="50px"></a>
        <br><br>   
        <a href=""><img src="/assets/lt.jpg" width="100px" height="50px"></a>
        <a href=""><img src="/assets/tata.png" width="100px" height="50px"></a>
        <br><br>
        <a href=""><img src="/assets/gu.jpg" width="100px" height="50px"></a>
        <a href=""><img src="/assets/gu.jpg" width="100px" height="50px"></a>
        </marquee>
        <br><br>
        <hr> 
       <h5 align="center">Our Work</h5>
       <a href=""><img src="/assets/sr2.jpg" width="250px" height="500px"></a><br><br>
       <a href=""><img src="/assets/sr9.jpg" width="250px" height="500px"></a><br><br>

        </div>



    </div>

    </div>
    <br>
    <hr>
	</div>



      <style type="text/css">
       .change p{
        font-size: 13px;
        text-indent:40px;
       }
       
       .cimage{
        width:100%;
        max-height: 300px !important;
       }

       div.change a:hover img{
        border:10px solid #f4f2e9;
       }

      .orbit-bullets { display: none; }



       h3{
        
        font-family: Arial, Helvetica, sans-serif;
        font-variant:small-caps;
        text-align:center;
        font-weight:300;
        font-family: bold;
        color: #ff6d00;
       }
       p {
        font-family: Arial, Helvetica, sans-serif;

        text-align:left;
        font-weight:300;
        font-family: bold;
       }
       h5{
        font-family: Arial, Helvetica, sans-serif;
        
        text-align:left;
        font-weight:300;
        font-family: bold;
       }

      

     
      </style>